<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Name</title>

    <!-- where possible, improve page performance and speed by combining external http requests to reduce your
      overall number of calls -- here, you can use a single call to the gFonts api to get all the fonts you need
      https://developers.google.com/fonts/docs/getting_started -->
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
  <article>

    <iframe src="../modules/header.html"
      onload="this.insertAdjacentHTML('afterend', (this.contentDocument.body||this.contentDocument).innerHTML);this.remove()"></iframe>
    
    <h1>Content Title</h1>
    <span>Content sub</span>
    <p>Content paragraph</p>

    <iframe src="../modules/footer.html"
      onload="this.insertAdjacentHTML('afterend', (this.contentDocument.body||this.contentDocument).innerHTML);this.remove()"></iframe>
  </article>
</body>

<footer>

<!-- ADD SCRIPS AND THIRD PARTY FRAMEWORK IN THE FOOTER
<script src="../js/jquery360.min.js"></script>
<link rel="script" href="../js/jQuery.js"> 
-->

</footer>

</html>